<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="h-screen bg-gray-100">
        {% include 'navbar.html' %}
        <div
            class="h-screen flex flex-col justify-center justify-around items-center"
        >
            <div class="w-96 p-6 bg-white shadow-lg rounded-lg">
                <h2 class="text-2xl font-bold mb-4 text-center">Signup</h2>
                <form action="{% url 'signup' %}" method="POST">
                    {% csrf_token %}
                    <input
                        type="email"
                        name="email"
                        placeholder="Email ID"
                        required
                        class="w-full p-2 border rounded mb-2"
                    />
                    <input
                        type="text"
                        name="username"
                        placeholder="Username"
                        required
                        class="w-full p-2 border rounded mb-2"
                    />
                    <input
                        type="password"
                        name="password"
                        placeholder="Password"
                        required
                        class="w-full p-2 border rounded mb-2"
                    />
                    <button
                        type="submit"
                        class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-all duration-500 ease-in-out hover:shadow-lg hover:scale-105"
                    >
                        Signup
                    </button>
                    <a
                        class="flex items-center justify-center p-2 mb-2"
                        href="/login/"
                        >Back to login</a
                    >
                </form>
            </div>
        </div>
    </body>
</html>
